.planet {
  z-index: -1;
  top: 12vh;
  left: 22vh;
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #00c13d;
  background: #107c08;
  background: linear-gradient(
    180deg,
    #109604 0%,
    #038f0f 15%,
    #03c22f 15%,
    #07d204 19%,
    #255d03 19%,
    #13b904 22%,
    #158504 22%,
    #045e0a 28%,
    #00f836 28%,
    #06b112 31%,
    #176b04 33%,
    #04df42 36%,
    #07a111 36%,
    #04b53c 48%,
    #0f8802 48%,
    #049911 55%,
    #057601 55%,
    #03a418 66%,
    #01e038 66%,
    #025012 70%,
    #18bd02 70%,
    #059e05 73%,
    #18a206 73%,
    #035f1a 82%,
    #3fd509 82%,
    #027525 86%,
    #0bbe05 86%
  );
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
    inset 8px -4px 6px rgba(5, 187, 5, 0.5),
    inset -8px 4px 8px rgba(27, 25, 25, 0.5), inset 20px -5px 12px #175a02,
    0 0 15px #ffffff59;
  transform: rotateZ(-15deg);
}

.planet::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 16px solid #025f07;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #084202;
  animation: rings1 0.8s infinite linear;
}

.planet::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 8px solid #068b0f;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #01450b;
  animation: rings2 0.8s infinite linear;
}

@keyframes rings1 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
  }

  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
  }
}

@keyframes rings2 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
  }

  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
  }
}