.header{
    background-color: rgb(2, 0, 13);
    position: sticky;
    top: 0;
    width: 85%;
    height: 10vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% 78% 12% ;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 1.3rem;
}

.nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 30px;
    border-right: 2px solid wheat;
    
}

.nav_mobile{
  display: none;
}

.logo{
    font-size: 1.5rem;
    font-weight: 900;
    cursor: default;
    /* margin: auto; */
}

span{
    color:rgb(4, 197, 72);
    
}