.Redes{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  /* border-left: 2px solid #f5f5dc; */
  cursor: pointer;
}

.Redes .img{
  width: 22px;
  filter: invert(94%) sepia(8%) saturate(746%) hue-rotate(345deg) brightness(108%) contrast(92%);
}